<div class="container mt-5">
  <section class="blog">
    <div
      class="d-flex flex-row justify-content-between align-items-center blog-header"
    >
      <h2> <a href="/blog/{{blog.id}}">{{blog.title}}</a></h2>
      <p>Posted by {{blog.User.name}} on {{format_date blog.created_at}}</p>
    </div>
    <div class="blog-body">
      <p>{{blog.description}}</p>
    </div>
  </section>
</div>