<div class="container mt-5">
  <section class="blog">
    <div
      class="d-flex flex-row justify-content-between align-items-center blog-header"
    >
      <h2> <a href="/blog/{{blog.id}}">{{blog.title}}</a></h2>
      <p>Posted by {{blog.User.name}} on {{format_date blog.created_at}}</p>
    </div>
    <div class="blog-body">
      <p>{{blog.description}}</p>
    </div>
  </section>
</div>

{{#if blog.Comments}}
  <div class="comment-display mt-5">
    <h3>Comments</h3>
    {{#each blog.Comments}}
      <div class="each-comment d-flex flex-row justify-space-between">
        <p>{{this.body}}</p>
        <p>
          &mdash;
          {{User.name}},
          {{format_date created_at}}</p>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="mt-5 comment">
  <form id="new-comment-form">
    <div class="card-header comment-header">
      <h3>Add New Comment</h3>
    </div>

    <div class="card-body d-flex flex-column">
      <input type="hidden" name="blog_id" value="{{blog.id}}" />

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" class="form-input"></textarea>

      <button type="submit" class="btn">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>