<div class="container mt-5">
  <section class="blog">
    <div
      class="d-flex flex-row justify-content-between align-items-center blog-header"
    >
      <h2> <a href="/blog/{{id}}">{{title}}</a></h2>
      <p>Posted by {{name}} on {{createdAt}}</p>
    </div>
    <div class="blog-body">
      <p>{{description}}</p>
    </div>
  </section>
</div>