{{! loop over each blog  }}
{{#each blogs}}
  <div class="container mt-5">
    <section class="blog">
      <div
        class="d-flex flex-row justify-content-between align-items-center blog-header"
      >
        <h2> <a href="/blog/{{this.id}}">{{this.title}}</a></h2>
        <p>Posted by {{this.User.name}} on {{format_date created_at}}</p>
      </div>
      <div class="blog-body">
        <p>{{this.description}}</p>
      </div>
    </section>
  </div>
{{/each}}